*{
  box-sizing: border-box;
}

html {
height: 100%;
font-size: 16px;

  @include tablets(){
    font-size: 14px;
  }

  @include phones(){
    font-size: 13px;
  }

  scroll-behavior: smooth;
}

body{
  font-family: 'Ubuntu';
  margin: 0;
  line-height: 1.42;
  font-size: rem(16px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
}

.body-fixed {
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

p{
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  min-height: 650px;
  transition: transform 1s;
  will-change: transform;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 95%;
}

.section {
  height: 100vh;
  min-height: 650px;

  @include tablets(){
    min-height: initial;
  }

  &_centered {
    .title {
      width: 100%;
      text-align: center;
    }
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}