//colors
$black: #2f3234;
$yellow: #f9b43b;
$red: #e45028;


//breakpoints 
$tablets: 768px;
$phones: 480px;

//media
@import './media';

// normolize.css
@import 'normolize';

//layout setup
@import 'fonts';
@import 'layout';

//blocks
@import './blocks/hero';
@import './blocks/header';
@import './blocks/btn';
@import './blocks/title';
@import './blocks/arrow-down';
@import './blocks/best';
@import './blocks/reviews';
@import './blocks/fixed-menu';
@import './blocks/team';
@import './blocks/menu-types';
@import './blocks/map';
@import './blocks/footer';
@import './blocks/social';
@import './blocks/delivery';
@import './blocks/hamburger';
@import './blocks/burgers';
@import './blocks/consist';
@import './blocks/fullscreen-menu';
// @import './blocks/owl.carousel.scss';
@import './blocks/modal';