.best {
  background: url('/style/img/second/background-two.jpg') center center / cover no-repeat;
}

.best__list {
  display: flex;
}

.best__item {
  flex:1;
  margin-right: 37px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.best__img {
  margin-bottom: 33px;
}

.best__icon {
  display: inline-block;
}

.best__desc {
  align-items: center;
}
.best__desc-title {
  color: $black;
  font-family: 'Lifehack';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  margin-bottom: 20px;
  &_last {
    margin-bottom: 13px;
  }
}

.best__desc-text {
  color: $black;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  opacity: 0.8;
}

