.best {
  background: url('/style/img/second/background-two.jpg') center center / cover no-repeat;
}

.best__list {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex:1;
  flex-direction: column;
  margin-right: rem(37px);
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    flex-direction: row;
    margin-bottom: rem(50px);
    margin-right: 0;
  }
}

.best__img {
  margin-bottom: rem(29px);

  @include phones {
    margin-right: rem(25px);
  }
}

.meat-icon {
  width: rem(97px);
  height: rem(89px);
}

.hand-icon {
  width: rem(97px);
  height: rem(89px);
}

.natural-icon {
  width: rem(97px);
  height: rem(89px);
}

.best__desc {
  align-items: center;

  @include phones {
    text-align: left;
  }
}
.best__desc-title {
  color: $black;
  font-family: 'Lifehack';
  font-size: rem(24px);
  font-weight: 500;
  line-height: rem(28.14px);
  letter-spacing: rem(-0.6px);
  margin-bottom: rem(10px);
  &_last {
    margin-bottom: rem(13px);
  }
}

.best__desc-text {
  color: $black;
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 300;
  opacity: 0.8;
}

