.burgers {
  background-image: linear-gradient(0deg, #f9b43b 0%, #eb8c38 47%, #f9b43b 73%);
  background-size: cover;
  position: relative;
}

.container.burgers__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.burgers-type {
  width: 50%;

  @include phones {
    width: 80%;
    margin-bottom: rem(10px);
  }
}

.slider {
  width: 100%;
}

.burgers__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: rem(40px) rem(0px) rem(20px);
  @include tablets {
    flex-direction: column;
    padding: rem(40px) 0 0;
  }

  @include phones {
    padding: rem(70px) 0 rem(20px);
  }
}

.calories {
  position: absolute;
  width: rem(60px);
  height: rem(80px);
  text-align: center;
  opacity: 0.5;
  left: rem(12px);
  bottom: 0;

  @include tablets {
    top: rem(0px);
    left: auto;
    right: rem(67px);
  }

  @include phones {
    top: rem(0px);
    right: rem(0px);
  }
}

.calories__svg {
  width: rem(60px);
  height: rem(60px);
}

.calories__number {
  font-family: "Gagalin";
  font-size: rem(20px);
  font-weight: 400;
  color: #fff;
  margin-top: rem(-38px);
  margin-bottom: rem(6px);
}

.calories__text {
  font-family: "Gagalin";
  font-size: rem(14px);
  font-weight: 400;
  color: #fff;
}

.burgers-image-img {
  max-width: 100%;
  height: auto;
}

.burgers-image {
  // width: 50%;
}

.burgers-desc {
  width: 50%;

  @include tablets {
    width: 70%;
  }

  @include phones {
    width: 100%;
  }
}

.burgers-desc__title {
  color: #ffffff;
  font-family: "Gagalin";
  font-size: rem(72px);
  font-weight: 400;
  text-align: left;
  line-height: rem(63.93px);
  margin-bottom: rem(56px);

  @include tablets {
    text-align: center;
    margin-bottom: rem(27px);
  }

  @include phones {
    font-size: rem(50px);
    line-height: rem(52.64px);
  }
}

.burgers-desc__text {
  color: #ffffff;
  font-family: "Ubuntu";
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(23.97px);
  margin-bottom: rem(36px);

  @include tablets {
    text-align: center;
    margin-bottom: rem(4px);
  }

  @include phones {
    line-height: rem(24.02px);
  }
}

.burgers__cost {
  display: flex;
  align-items: baseline;

  @include tablets {
    justify-content: center;
  }
}

.burgers__cost-value {
  font-family: "Gagalin";
  font-size: rem(72px);
  font-weight: 400;
  color: #e35028;
  letter-spacing: rem(-0.75px);
  margin-right: rem(7px);

  @include phones {
    font-size: rem(50px);
  }
}

.burgers__cost-currency {
  font-family: "Gagalin";
  font-size: rem(30px);
  font-weight: 400;
  color: #e35028;
  letter-spacing: rem(-1.79px);
  margin-right: rem(29px);

  @include phones {
    font-size: rem(24px);
  }
}

.slider-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translate(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &_prev {
    left: rem(-10px);

    @include tablets {
      left: rem(23px);
    }

    @include phones {
      left: rem(7px);
    }
  }
  &_next {
    right: rem(-20px);

    @include tablets {
      right: 0;
    }

    @include phones {
      right: rem(-18px);
    }
  }
}