.delivery {
  background: url('/style/img/delivery/bg-delivery.jpg') center center / cover no-repeat;
}

.delivery-form{
  display: flex;
}

.delivery-form__column {
  margin-right: rem(20px);
  width: 50%;

  &:last-child {
    margin-right: rem(0px);
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(20px);
  &_right {
    margin-bottom: rem(14px);
  }
}

.form__block{
  margin-right: rem(20px);
  flex: 1;

  &:last-child {
    margin-right: rem(0px);
  }
}

.form__block-title {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: rem(14px);
  color: #fff;
  margin-bottom: rem(7px);
}

.form__block-input {
  border-radius: rem(5px);
  background: #fff;
  border: rem(2px) solid transparent;

  width: 100%;
  padding: rem(5px) rem(10px);

  &:focus {
    border-color: $yellow;
    outline: none;
  }
}

.form__block-input_textarea {
  height: rem(111px);
  resize: none;
}

.form__radios {
  display: flex;
}

.form__radio {
  display: flex;
  margin-right: rem(20px);
  position: relative;
  align-items: center;
  justify-content: center;
  &:last-child {
    margin-right: 0;
  }
}

.radio__elem {
  position: absolute;
  display: none;
}

.form__radio-fake {
  width: rem(15px);
  height: rem(15px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-right: rem(10px);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: $red;
    transition: 0.2s;
  }
}

.radio__elem:checked + .form__radio-fake::after {
  width: rem(7px);
  height: rem(7px);
}

.form__radio-answer {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: rem(14px);
  color: #fff;
  cursor: pointer;
}

.call {
  display: none;

  &:checked+.form__checkbox-title::after {
    opacity: 1;
  }
}


.form__checkbox-title{
  display: flex;
  align-items: center;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: rem(14px);
  color: #fff;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    width: rem(15px);
    height: rem(15px);
    background-color: #ffffff;
    border-radius: rem(2px);
    margin-right: rem(10px);
  }

  &::after {
    content:'';
    position: absolute;
    left: rem(2px);
    top: rem(4px);
    width: rem(7px);
    height: rem(4px);
    border-radius: rem(1px);
    border-left: rem(4px) solid #e45028;
    border-bottom: rem(4px) solid #e45028;
    transform: rotate(-45deg);
    opacity: 0;
    transition: 0.3s;
  }
}

.delivery__buttons {
  display: flex;
}