.footer {
  position: absolute;
  // bottom: 0;
  left: 0;
  right: 0;
  height: rem(60px);
  background: url('/style/img/footer/bg-footer.jpg') center center / cover no-repeat;

  @include phones {
    height: rem(116px);
  }

}

.footer__container {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}

.footer__column-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.adress {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: rem(14px);
  color: #fff;
  margin-bottom: rem(6px);
}

.contacts__phone {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: rem(14px);
  color:#e45028;

  @include phones {
    justify-content: center;
  }
}

.phone-icon {
  position: relative;
  width: rem(12px);
  height: rem(11px);
  margin-right: rem(7px);
  bottom: rem(1px);
}