.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(7px);
  width: 100%;
}

.logo {
  z-index: 5;  
}

.logo-icon {
  width: rem(92px);
  height: rem(69px);
}

.logo__link {
  display: block;
}

.header__buttons {
  display: flex;
  align-items: center;
  // margin-left: rem(65px);
}

.menu__list {
  display: flex;
  align-items: center;

  @include tablets() {
    display: none;
  }
}

.menu__item {
  display: flex;
  align-items: center;

  &:last-child {
    &:after {
      content: none;
    }
  }

  &:after{
    content: '';
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
    margin-left: rem(15px);
    margin-right: rem(15px);
  }
}

.menu__link {
  color: #fff;
  font-family: 'Ubuntu';
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

