.hero {
  background: url('/style/img/first/main-background.jpg') center center / cover no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero__btn-order {
  margin-left: rem(20px);
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.72;
  margin-bottom: rem(89px);

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

}
.hero__content-img {
  @include tablets {
    width: 91%;
    margin-left: 0;
  }
}

.hero__burger-img {
  margin-left: rem(20px);
  width: 100%;
  @include tablets {
    margin-left: 0;
  }
}
.hero__content-text {
  margin-top: rem(56px);
  margin-left: 1.625rem;
  width: 50%;

  @include tablets {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}


.hero__content-desc {
  color: #fff;
  font-family: 'Lifehack';
  font-weight: 500;
  font-size: rem(65px);
  letter-spacing: rem(-1.63px);
  line-height: rem(60px);

  @include tablets {
   width: 32.5rem;
   margin-right: 0;
    
  }
}
