.overlay {
  background-color: rgba(#2f3234, 0.92);
  display: none;

  &.active {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }
}

.popup__container {
  width: rem(480px);
  border-radius: rem(5px);
  background: #fff;
  color: $black;
  position: relative;
  padding: rem(30px) rem(33px) rem(27px) rem(19px);

  @include phones {
    width: 95%;
  }
}

.popup__title {
  font-family: 'Gagalin';
  font-size: rem(14px);
  font-weight: 400;
  margin-bottom: rem(30px);
}

.popup__text {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
}

.popup__close {
  position: absolute;
  width: rem(15px);
  height: rem(15px);
  right: rem(21px);
  top: rem(20px);
}

.popup__svg-close {
  width: rem(15px);
  height: rem(15px);
}