.reviews {
  background: #000;
  position: relative;
}

.reviews__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  filter: grayscale(100%);
  position: relative;
  color: #fff; 

  @include tablets {
    width: 50%;
    height: 25%;
  }

  &:hover {
    .reviews__item-hover {
      opacity: 1;
    }
  }
}

.reviews__item-hover {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: rem(50px) rem(10px) rem(0px) rem(20px);
  background: rgba(#000, 0.5);
  transition: 0.3s;
  opacity: 0;
  transition: opacity 0.3s;

  @include tablets {
    padding: rem(15px) rem(10px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @include phones {
    justify-content: space-evenly;
  }
}

.reviews__title {
  font-family: 'Gagalin';
  font-size: rem(14px);
  font-weight: 400;
  margin-bottom: rem(30px);

  @include tablets {
    margin-bottom: rem(5px);
  }

  @include phones {
    font-size: rem(24px);
  }
}

.reviews__text {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  margin-bottom: rem(17px);

  @include phones {
    display: none;
  }
}

.reviews__btn {
  @include phones {
    display: none;
  }
}

.reviews__btn-phones{
  display: none;
  @include phones {
    display: inline-block;
  }
}