.social__list {
  display: flex;
  text-align: right;
}

.social__item {
  display: block;
  margin-right: rem(20px);
}

.social__item:last-child{
  margin-right: rem(0px);
}

.social__link {
  svg {
    fill: #585858;
    width:rem(20px);
    height: rem(20px);
    transition: 0.3s;      
    &:hover {
      fill: #fff;
    }
  }
}