.social__list {
  display: flex;
  text-align: right;
}

.social__item {
  display: block;
  margin-right: 20px;
}

.social__item:last-child{
  margin-right: 0px;
}

.social__link {
  svg {
    fill: #585858;
    width:20px;
    height: 20px;
    transition: 0.3s;      
    &:hover {
      fill: #fff;
    }
  }
}