.team {
  background: url('/style/img/team/bg-team.jpg') center center / cover no-repeat;
  position: relative;
}

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background: rgba(#343739, 0.9);
  @include tablets {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

.team__content {
  padding-top: rem(66px);
  padding-left: rem(109px);

  @include tablets {
    padding-top: 0;
    padding-left: 0;
  }
}

.accordeon__item {
  margin-bottom: rem(23px);
}

.accordeon__item.accordeon__item_active{

  .member__info {
    height: rem(120px);

    @include tablets {
      height: 13.5rem;
    }
  }

  .member__name {
    color: $yellow;

    &::before {
      transform: rotate(180deg);
    }
  }

}

.accordeon__list {
  @include tablets {
    text-align: center;
  }
}

.member__name {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gagalin';
  font-size: rem(14px);
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  &::before {
    content: '';
    width: rem(0px);
    height: rem(0px);
    border-top: rem(7px) solid $yellow;
    border-right: rem(5px) solid transparent;
    border-left: rem(5px) solid transparent;
    transform: rotate(0deg);
    margin-right: rem(10px);
    transition: 0.3s;
  }

  @include tablets {
    justify-content: center;
    font-size: rem(25px);
  }
}



.member__info {
  display: flex;
  align-items: center;
  margin-top: rem(13px);
  margin-left: rem(20px);
  flex-shrink: 0;
  overflow: hidden;
  height: rem(0px);
  transition: height 0.3s;

  @include tablets {
    margin-left: 0;
    flex-direction: column;
    text-align: center;
  }
}

.member__avatar {
  height: rem(100px);
  width: rem(100px);
  border-radius: 50%;
  margin-right: rem(20px);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;

  @include tablets {
    margin-right: 0;
  }
}

.member__desc {
  @include tablets {
    margin-top: rem(17px);
  }
}

.member__position {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 700;
  color: #fff;
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(17px);
  }
  
}

.member__service {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 300;
  color: #fff;
  width: rem(208px);
  line-height: rem(24.01px);

  @include tablets {
    width: rem(290px);
  }
}

