.title {
  color: $yellow;
  font-family: 'Gagalin';
  font-size: 72px;
  line-height: 1;
  margin-bottom: 27px;
  margin-top: 19px;
  &_black {
    color: $black;
    margin-bottom: 40px;
    margin-top: -57px;
  }
  &_team {
    margin-bottom: 40px;
  }
}